/* style scroll */

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:10px ;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

    background: #555;
}

/* end style scroll */

.block {
    height: 100vh;
    line-height: 2rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    gap: 1rem;
    align-items: center;
}
.block>input {
    text-align: center;
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 2rem;
}
.container-cards {
    border: solid .1px #ffffff40;
    height: calc(100% - 10rem);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
.inner-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    padding: 1rem;
    border: solid 1px #fcfdfd85;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: .5rem;
}
.button{
    display:flex;
    gap:1rem;
}
input[type='number']{
    background-color: transparent;
    border-radius: 10%;
    text-align: center;
    border: solid 1px;
}
.button>.sub, .button>.add {
    background-color: rgb(76 95 211);
    aspect-ratio: 1/1;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}