{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLP</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
<!--    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">-->
    {% block css %}{% endblock %}

</head>
<body>
<nav>
    <img src="{% static 'images/logo.png' %}" class="sub-nav" alt="logo" height="100%">
    <ul class="sub-nav">
        {% if user.is_authenticated %}
    <li><a href="{% url 'myapp:home' %}">Home</a></li>
        <li><a href="{% url 'myapp:about' %}">About</a></li>
        <li><a href="{% url 'myapp:account' %}">Account</a></li>
        {% endif %}


    </ul>
</nav>
{% block content %}{% endblock %}
<footer>
    <!-- add footer -->
    <p><a href="https://www.linkedin.com/in/mpaantoijl">&#169; Webmaster@IEEE</a></p>
</footer>
</body>
</html>