{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/about.css' %}">
{% endblock css %}
{% block content %}
    <div id="content">
        <h1>Student Leadership Program</h1>
        <p>Welcome to the IEEE Student Branch KLS GIT, Belgaum's Student Leadership Program 2023!</p>

        <p>At our core, we believe that leadership isn't just a title; it's a responsibility. Our program is designed to nurture and empower the leaders of tomorrow. We understand that true leadership is about caring for and guiding others, and that ethos permeates every aspect of our event.</p>

        <p>The Student Leadership Program is an annual flagship event that embodies our commitment to fostering leadership qualities among students. It's more than just a one-day affair; it's an immersive experience aimed at developing essential skills, embracing personal growth, and preparing participants for success in their future endeavors.</p>
    </div>
{% endblock content %}
