{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/about.css' %}">
{% endblock css %}
{% block content %}
    <div id="content">
        <h1>Student Leadership Program</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore deserunt, molestias pariatur laboriosam, minus ut, molestiae atque iusto adipisci sapiente harum odio eaque culpa blanditiis soluta accusantium distinctio laudantium fuga!</p>
    </div>
{% endblock content %}
