{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/account.css' %}">
{% endblock css %}
{% block content %}
<form action="updatePassword/{{user.id}}" method="post" class="block" id="block" onsubmit="return validateForm()">
    <div class="inner-block">
        {% csrf_token %}
        <h1>Change Password</h1>
        <input type="text" id="password" name="password" class="pass" placeholder="Password" required>
        <input type="password" id="password2"  class="pass" placeholder="Re-Enter Password" required>
        <div class="button">
            <div class="cancel" onclick="closeBlock()">Cancel</div>
            <input class="submit" type="submit" value="Submit">
        </div>
    </div>
</form>
    <div id="content">
        <h1>Welcome {{user.first_name}}!!!!!</h1>
        <div class="container">
        <div class="deatils">
        <h2>Account Details</h2>
        <p id="{{user.id}}">Username: {{user}}</p>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        {% if user.is_superuser %}
        <p class="Start-button" onclick="ClearTeams()">Clear </p>
        <p class="Start-button" onclick="ResetGame()">Start Over </p>
        <p class="Start-button" onclick="ActivateTeams()">Activate Teams</p>
        {% else %}
        <p>Team Name: {% if not status == 0 %}{{group.name}} {% endif %}</p>
        <p>Team Leader: {% if not status == 0 %} {{group.leader.first_name}} {{group.leader.last_name}} {% endif %}</p>
        <p>Team Members:{% if not status == 0 %} {{group.leader.first_name}} {% for a in group.members.all %}, {{a.first_name}} {% endfor %}{% endif %}</p>
        {% if type == "leader" and not status == 0 %}
        <p>Movie:  {{code}} </p>
        {% else %}
        {% if not user.is_staff and not status == 0 %}
        <p>Dialogue:  {{code}} </p>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
            <div class="buttons">
                <div class="button-container">
                <a onclick="openBlock()">Change Password</a>
        <a href="{% url 'login:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/login/login.js' %}"></script>
    <script type="text/javascript" src="{% static '/myapp/account.js' %}"></script>
{% endblock content %}
